* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'PT Serif', serif;;
}

.container {
    background: #fff;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: 80%;
}

.company {
    align-items: center;
    box-shadow: 0 5px 10px -10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    position: relative;
}

.company img {
    margin-bottom: 10px;
}

#datetime {
    text-decoration: underline;
}

.news-container {
    background: #b5b6ff;
    padding: 25px 50px;
}

.news__hot {
    border-bottom: 3px dashed red;
    margin-bottom: 20px;
    padding: 5px;
}

#description {
    letter-spacing: 0.5em;
}

.feed {
    align-items: center;
    border-left: 2px solid;
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 10px;
    text-align: left;
}

.feed .news {
    margin-bottom: 10px;
}

.feed .news__title h3 {
    letter-spacing: 0.05em;
}

.feed .news__preview {
    font-style: italic;
}

.feed img {
    border-radius: 5px;
    display: block;
    justify-self: flex-end;
}
