* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Lobster', cursive
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    filter: drop-shadow(1px 1px 2px #000);
}

form {
    background: rgb(87, 255, 184);
    background: linear-gradient(350deg, rgba(87, 255, 184, 1) 0%, rgba(167, 117, 255, 1) 48%, rgba(53, 255, 241, 1) 100%);
    border-radius: 10px;
    box-shadow: inset 4px 2px 7px #000, 1px 1px #fff;
    display: flex;
    flex-direction: column;
    margin: 100px auto 20px auto;
    padding: 25px 50px;
    position: relative;
    width: 300px;
}

form label {
    color: #fff;
    filter: drop-shadow(1px 1px 2px #000);
    font-size: 1.3em;
}

form input {
    margin: 5px 0;
    font-size: 1.1em;
    padding: 3px;
}

form input[type="file"] {
    color: azure;
    cursor: pointer;
}

form button {
    background: #222;
    border-radius: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 4em;
    margin: 20px auto 0 auto;
    outline: none;
    position: relative;
    text-transform: uppercase;
    transform: translate(0, 0);
    transition-duration: 0.5s;
    width: 70%;
}

form button:hover {
    background: #444;
    box-shadow: 2px 5px #555;
    transform: translate(-2px, -5px);
}

.response {
    font-family: monospace;
    font-size: 1.5em;
    margin-bottom: 80px;
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: green;
}
